body {
    background-color: rgb(202, 171, 232);
}
#board{
    float: left;
    text-align: center;
}
.hiddencells{
    height: 50px;
    width: 50px;
    background-color: rgb(122, 131, 245);
    border-bottom:solid black 3px;
    border-right:solid black 3px;
    border-left:solid rgb(73, 130, 120) 3px ;
    border-top:solid rgb(73, 130, 120) 3px;
    float: left;
    cursor:pointer;
}
.hiddencells:hover{
    background-color: rgb(161, 164, 219); ;
}
.reveledcells{
    float: left;
    border-bottom:solid black 3px;
    border-right:solid black 3px;
    border-left:solid rgb(73, 130, 120) 3px ;
    border-top:solid rgb(73, 130, 120) 3px;
    height: 50px;
    width: 50px;
    background-color: rgb(230, 186, 243);
    display: flex;
    justify-content: center;
    font-size: xx-large;
}
.reveledbomb{
    float: left;
    border-bottom:solid black 3px;
    border-right:solid black 3px;
    border-left:solid rgb(255, 0, 0) 3px ;
    border-top:solid rgb(255, 0, 0) 3px;
    height: 50px;
    width: 50px;
    background-color: rgb(255, 0, 43);
    display: flex;
    justify-content: center;
    font-size: xx-large;
}