body {
    background-color: rgb(202, 171, 232);
}
#board{
    display:flex;
    text-align: center;
}
.cells{
    height: 50px;
    width: 50px;
    background-color: rgb(111, 220, 201);
    border-top:solid black 3px;
    border-left:solid black 3px;
    border-right:solid rgb(73, 130, 120) 3px ;
    border-bottom:solid rgb(73, 130, 120) 3px;
}